<template>
  <div class="radio-button">
    <AtomInput
      @update:model-value="onChange"
      type="radio"
      :isModelSelected="isSelected"
      :modelValue="value"
      :modelName="radioName"
    />
    <label>{{ label }}</label>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  label: {
    type: String,
    required: true,
  },
  value: {
    type: String,
    required: true,
  },
  isSelected: {
    type: Boolean,
    default: false,
  },
  radioName: {
    type: String,
    required: true,
  },
});
const emit = defineEmits(["handleInputChange"]);
const inputValue = ref(props.value);
const onChange = (value) => {
  emit("handleInputChange", value);
};
</script>

<style lang="scss" scoped>
.radio-button {
  @apply flex items-center;
}
</style>