<template>
    <div class="flex border rounded-lg p-2 border-secondary h-32">
        <div class="flex items-left justify-between py-4 px-2">
            <NuxtLink href="/">
                <img class="h-10" src="../../assets/Logo_JobAidUkraine.svg" />
            </NuxtLink>
        </div>
        <div class="w-9/12 justify-between text-left">
            <h2 class="text-secondary font-bold mb-2">{{ job?.title }}</h2>
            <span class="meta">{{ job?.jobType }}</span>
            <span class="meta">{{ job?.company?.name }}</span>

            <span class="block mt-2"
                >{{ job?.address?.town }},{{ job?.address?.country }}</span
            >
        </div>
        <div class="w-3/12 flex flex-col justify-between text-left">
            <span class="meta text-right">{{
                whichTime(new Date(job?.createdAt))
            }}</span>
            <nuxt-link to="/" class="text-primary goto">
                <svg
                    class="arrow"
                    width="22"
                    height="16"
                    viewBox="0 0 22 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-v-236513be
                >
                    <path
                        d="M0.292891 7.29289C-0.097633 7.68342 -0.097633 8.31658 0.292891 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292891 7.29289ZM22 7L0.999998 7V9L22 9V7Z"
                        fill="currentColor"
                        data-v-236513be
                    />
                </svg>
            </nuxt-link>
        </div>
    </div>
</template>
<script lang="ts" setup>
import useDate from "../../composables/date";
const props = defineProps<{
    job: {
        createdAt: Date;
        jobType: String;
        languages: String;
        company: { name: String };
        address: { town: String; country: String };
        title: String;
    };
}>();

const whichTime = (time: Date) => {
    const _MS_PER_DAY = 1000 * 60 * 60 * 24;
    // Discard the time and time-zone information.
    const utc1 = Date.UTC(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate()
    );
    const utc2 = Date.UTC(time.getFullYear(), time.getMonth(), time.getDate());

    if (new Date().getTime() - 10 * 60 * 1000 <= time.getTime()) {
        return "just added";
    }
    const diffTime = Math.abs(utc1 - utc2);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    const diffMonth = Math.ceil(diffDays / 30);

    if (diffDays > 31) {
        return diffMonth + "months before";
    } else if (diffDays > 0) {
        return diffDays + "days before";
    }
};
</script>

<style lang="scss" scoped>
.meta {
    @apply text-gray-500 block;
}

.goto {
    transform: rotate(180deg);
}
</style>
