<template>
 <div class="buttons-div">
    <AtomButton class="mt-4 mr-4 ml-4 py-3 w-full" content="Personal information" type="primary" @click="loadPersonalData"></AtomButton>
    <AtomButton class="mt-4 mr-4 py-3 w-full" content="Skills" type="primary" @click="loadUserSkills"></AtomButton>
 </div>
    <div class="mt-4 mr-4 ml-4 mb-4" v-if="showPersonalData"><PersonalData/></div>
    <div class="mt-4 mr-4 ml-4 mb-4" v-if="showUserSkills"><UserSkills/></div>
</template>

<script lang="ts">
   import PersonalData from './personal-data/PersonalData.vue';
   import UserSkills from './user-skills/UserSkills.vue'

    export default {
        name: 'Profile',
        components: {
            PersonalData,
            UserSkills
        },
        data: () => ({
            showPersonalData: true,
            showUserSkills: false
        }),
        methods : {
            loadPersonalData : function() {
             this.showPersonalData = true;
             this.showUserSkills = false;
            },
            loadUserSkills : function() {
             this.showPersonalData = false;
             this.showUserSkills = true;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .buttons-div {
        display: flex;
        justify-content: center;
    }
</style>