<template>
    <div class="mt-2 lg:w-9/12 mx-auto">
        <div class="bg-slate-100 h-56 items-end justify-center p-4 flex">
            <AtomHeadline
                type="h2"
                text="We’re here to help you find a job"
            ></AtomHeadline>
        </div>
        <div class="p-4 my-2">
            <p class="text-base font-medium text-left">
                JOBAID FOR UKRAINIAN REFUGEES wants to bring jobseekers and
                employers together to support their integration into the
                European labour market and a return to financial security.
            </p>
            <div class="mt-4 lg:items-center">
                <AtomButton
                    class="mt-2 py-3 w-full lg:w-52 block m-auto"
                    content="I’m looking for a job"
                    type="secondary"
                />
                <AtomButton
                    class="mt-2 py-3 w-full lg:w-52 block m-auto"
                    content="I want to provide a job"
                    type="secondary"
                    @handleClick="handleProvideJobClick"
                />
            </div>
            <div class="mt-4 p-4 bg-slate-100 rounded-xl">
                <div>
                    <AtomHeadline
                        class="mb-2"
                        type="h5"
                        text="Have you just arrived?"
                    />
                    <p class="text-sm">
                        We’ve also answered some common questions you might
                        have; like your rights to work in this country and how
                        to open a bank account.
                    </p>
                    <AtomButton
                        class="mt-4 py-3 w-full lg:w-52"
                        content="Read more here"
                        type="primary"
                    />
                </div>
            </div>
        </div>
        <OrganismRecentJobPosting />

        <!-- for testing -->
        <!-- <OrganismJobList class="my-6" :size="20"></OrganismJobList> -->
    </div>
</template>

<script lang="ts" setup>
const router = useRouter();
const handleProvideJobClick = () => {
    //TODO: configure route, NUXT auto route is slow
    router.push("/post-job");
};
</script>

<style scoped></style>
