<template>
 <AtomHeadline class="mb-2" type="h5" text="General Information" />
    <AtomInput
        type="text"
        placeholder="Firstname"
        class="input mb-4"
        @value="state.firstname"
        v-model="state.firstname"
    ></AtomInput>
    <AtomInput
        type="text"
        placeholder="Lastname"
        class="input mb-4"
        @value="state.lastname"
        v-model="state.lastname"
    ></AtomInput>
    <AtomInput
        type="text"
        placeholder="Date of Birth"
        class="input mb-4"
        value="TODO: decide about the format of the date"
    ></AtomInput>
    <AtomInput
        type="text"
        placeholder="Email"
        class="input mb-4"
        @value="state.user.email"
        v-model="state.user.email"
    ></AtomInput>
<AtomHeadline class="mb-2 mt-4" type="h5" text="Address" />
<div style="display: flex;">
   <AtomInput
        type="text"
        placeholder="Street"
        class="input mb-4 mr-2"
        @value="state.address.street"
        v-model="state.address.street"
    ></AtomInput>
    <AtomInput
        type="text"
        placeholder="House number"
        @value="state.address.houseNumber"
        class="input mb-4"
        v-model="state.address.houseNumber"
    ></AtomInput>
</div>
     <AtomInput
        type="text"
        placeholder="City"
        @value="state.address.city"
        class="input mb-4"
        v-model="state.address.city"
    ></AtomInput>
<div style="display: flex;">
     <AtomInput
        type="text"
        placeholder="Zip Code"
        @value="state.address.zip"
        class="input mr-2"
        v-model="state.address.zip"
    ></AtomInput>
     <AtomSelect
        type="select"
        @value="state.address.country"
        v-model="state.address.country"
        class="input"
        :options="options"
        ></AtomSelect>
</div>
    <AtomHeadline class="mb-2 mt-6" type="h5" text="Job Preferences" />
    <div class="mb-2">Job types</div>
    <MoleculeRadioGroup
          :options="jobTypes"
          :isHorizontal="localIsHorizontal"
          radioGroupName="lang"
          @set-selected-value="setJobType"
        />

    <AtomInput
        type="text"
        placeholder="Maximal distance"
        @value="state.maxDistance"
        class="input mb-4 mt-4"
        v-model="state.maxDistance"
    ></AtomInput>

    <AtomButton
            class="mt-2 py-4 w-full lg:w-52 block m-auto"
            content="Save"
            type="secondary"
            @handleClick="saveUser"
            />
</template>

<script setup lang="ts">
    import axios from 'axios'
    const config = useRuntimeConfig();
    // TODO: Full lists of countries should be added or come from BE in the future.
    const options = reactive([
    {
        value: "Germany",
        title: "Germany"
    },
     {
        value: "France",
        title: "France"
    },
     {
        value: "Poland",
        title: "Poland"
    }
    ]);
    const jobTypes = [
    {
        label: "Full-time",
        value: "PERMANENT",
    },
    {
        label: "Part-time",
        value: "PART_TIME",
    },
    {
        label: "Freelance",
        value: "FREELANCE",
    },
    {
        label: "Temporary",
        value: "TEMPORARY",
    }
    ];
    
    const state = reactive({
        firstname: '',
        lastname: '',
        birthday: '2020-01-01T12:00:00Z',
        user: {
            email: ''
        },
        address: {
            street: '',
            houseNumber: '',
            city: '',
            zip: '',
            country: ''
        },
        jobType: '',
        maxDistance: 0
    })
    const selectedRadio = ref(null);
    const localIsHorizontal = ref(false);
    const setJobType = (value) => {
        selectedRadio.value = value;
        state.jobType = value;
    };
    const saveUser = async () => {
        console.log(state)
        // TODO: configure http://localhost:8080 in env variables and use here the variable instead of hardcoded URL
        axios.post('http://localhost:8080/v1.0/persons', state)
                .then(response => console.log(response.data));
}
</script>

<style lang="scss" scoped>
</style>