<template>
    <component :is="type" class="title">{{ text }}</component>
</template>
<script setup lang="ts">
const props = defineProps<{
    type: 'h1' | 'h2' | 'h3' | 'h4' | 'h5',
    text: String
}>();
</script>
<style lang="scss" scoped>
h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-xl font-bold;
}

h5 {
    @apply font-bold;
}
</style>