<template>
  <div class="applicant-check">
    <AtomHeadline type="h4" text="APPLICANT CHECK" />
    <div class="applicant-check-box">
      <div class="binary-language">
        <p>
          Does the job applicant need to speak a language other than Ukrainian
          or Russian?
        </p>
        <MoleculeRadioGroup
          :options="binaryLanguageOptions"
          :isHorizontal="localIsHorizontal"
          radioGroupName="lang"
          @set-selected-value="setBinaryLanguage"
        />
      </div>
      <div v-if="shouldRenderLanguagesInput">
        <p>Please specify which languages will be acceptable:</p>
        <MoleculeCheckboxGroup
          :options="multipleLanguagesOptions"
          @set-selected-value="setMultipleLanguage"
        />
      </div>
      <MoleculeSearchInput v-if="shouldShowSearchBar" />
    </div>
    <div class="applicant-check-box">
      <p>Who are you looking for?</p>
      <MoleculeCheckboxGroup
        :options="roleOptions"
        @set-selected-value="setRoles"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from "vue";
const binaryLanguageOptions = [
  {
    label: "No",
    value: "No",
    selected: true,
  },
  {
    label: "Yes",
    value: "Yes",
  },
];
const multipleLanguagesOptions = [
  {
    label: "English (simple)",
    value: "englishSimple",
  },
  {
    label: "English (fluent)",
    value: "englishFluent",
  },
  {
    label: "Deutsch (einfach)",
    value: "deutscheSimple",
  },
  {
    label: "Deutsch (fließend)",
    value: "deutschFluent",
  },
  {
    label: "Other",
    value: "other",
  },
];
const roleOptions = reactive([
  {
    label: "Anyone (no previous experience necessary)",
    value: "anyone",
  },
  {
    label: "Professionals",
    value: "professionals",
  },
  {
    label: "New graduates",
    value: "newGraduates",
  },
  {
    label: "Students (15 and older)",
    value: "students",
    disabled: false,
    selected: false,
  },
]);
const localIsHorizontal = ref(false);
const selectedRadio = ref(null);
const selectedLanguages = ref([]);
const selectedRoles = ref([]);
const shouldRenderLanguagesInput = computed(
  () => selectedRadio.value === "Yes"
);
const setBinaryLanguage = (value) => {
  selectedRadio.value = value;
  if (selectedRadio.value === "No") {
    selectedLanguages.value = ["Russian", "Ukrainian"];
  } else {
    selectedLanguages.value = [];
  }
};
let shouldShowSearchBar = computed(() =>
  selectedLanguages.value.includes("other")
);
const setMultipleLanguage = (refValue) =>
  (selectedLanguages.value = refValue.value);
const setRoles = (refValue) => {
  selectedRoles.value = refValue.value;
  if (refValue.value.includes("anyone")) {
    // selectedRoles.value = ["anyone"];
    roleOptions.forEach((datum, index) => {
      if (datum.value != "anyone") {
        roleOptions[index] = {
          ...roleOptions[index],
          selected: false,
          disabled: true,
        };
      }
    });
  } else if (refValue.value.length === 0) {
    roleOptions.forEach((datum, index) => {
      roleOptions[index] = {
        ...roleOptions[index],
        selected: false,
        disabled: false,
      };
    });
  }
};
const emit = defineEmits(["setApplicantLanguages", "setApplicantRoles"]);
watch(selectedLanguages, () => {
  emit("setApplicantLanguages", selectedLanguages);
});
watch(selectedRoles, () => {
  emit("setApplicantRoles", selectedRoles);
});
</script>

<style lang="scss" scoped>
.binary-language {
  @apply pb-4;
}
.applicant-check-box {
  @apply bg-gray-100 p-4 mt-3;
}
.applicant-check {
  @apply pb-4;
}
</style>