<template>
    <div class="flex justify-center">
        <ul
            class="flex justify-between mx-5 flex-wrap text-sm font-medium text-center bg-gray-100 rounded-3xl lg:w-96"
        >
            <li>
                <NuxtLink
                    href="#"
                    class="inline-block py-1 px-7 rounded-3xl active"
                    >English</NuxtLink
                >
            </li>
            <li>
                <NuxtLink href="#" class="inline-block py-1 px-7 rounded-3xl"
                    >українська</NuxtLink
                >
            </li>
            <li>
                <NuxtLink href="#" class="inline-block py-1 px-7 rounded-3xl"
                    >русский</NuxtLink
                >
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    setup() {
        return {};
    },
});
</script>

<style scoped>
.active {
    background-color: #ffeb3b;
}
</style>
