<template>
  <div class="sign-in-form">
    <Headline type="h4" text="YOUR DETAILS" />
    <p>
      We require this information to confirm the validity of the job posting.
      This information will <u>NOT</u> be shared on the job posting.
    </p>
    <InputField
      inputHeader="Your email"
      :inputValue="email"
      @handle-input-change="setEmail"
      placeholderValue="you@yourdomain.com"
      class="email-field"
    />
    <InputField
      inputHeader="Your name"
      :inputValue="name"
      @handle-input-change="setName"
      placeholderValue="Your first and last name"
      class="name-field"
    />
    <InputField
      inputHeader="Your job title"
      :inputValue="jobTitle"
      @handle-input-change="setJobTitle"
      placeholderValue="CEO, HR, Accountant, etc."
      class="job-title-field"
    />
  </div>
</template>

<script setup lang="ts">
import Headline from "../atom/Headline.vue";
import Input from "../atom/Input.vue";
import InputField from "../molecule/InputField.vue";

const email = ref("");
const name = ref("");
const jobTitle = ref("");

const setEmail = (value) => (email.value = value);
const setName = (value) => (name.value = value);
const setJobTitle = (value) => (jobTitle.value = value);
const emit = defineEmits(["setEmployerEmail", "setEmployerName", "setEmployerJobTitle"]);
watch(email,() => {
  emit("setEmployerEmail", email);
});
watch(name,() => {
  emit("setEmployerName", name);
});
watch(jobTitle,() => {
  emit("setEmployerJobTitle",jobTitle);
});
</script>

<style lang="scss" scoped>
.sign-in-form {
  @apply py-4;
}
.email-field {
  @apply pt-2;
}
.name-field {
  @apply pt-2;
}
.job-title-field {
  @apply py-2;
}
</style>